<%- include('partials/header') -%>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">OpenCare</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>
				
				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="/profile">Edit Profile</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/logout">Log Out</a></li>
							</ul>
						</div>
					</nav>
				
				<!-- Main -->
					<div id="main">

						<!-- Get Started -->
						<section class="cta" data-section="getStarted">

							<header>
							  <h2>Welcome!</h2>
							  <p>Create a profile for your patient or loved one.<br/>
							  Once created, various fields will populate below.</p>
							</header>
						  <!-- Add new patient button -->
							<button id="addPatientBtn" data-micromodal-trigger="addPatientMModal">
								Add a Patient or Love One
							</button>
						</section>

							<!-- Add new patient modal -->
							<div id="addPatientMModal" class="modal" aria-hidden="true">
								<div tabindex="-1" data-micromodal-close>
								<div role="dialog" aria-modal="true" aria-labelledby="addPatientModalTitle">
									<header>
									<img id="modal-close-button" data-micromodal-close src="/css/images/close.svg" alt="Close modal"/>
									<h2 id="addPatientModalTitle">
										Add Patient
									</h2>
									</header>
									<div id="addPatientModalContent">
									<div id="error-messages"></div>
										<form method="POST" action="/patient/createPatient">
									
										<label for="name">Name:</label>
										<input type="text" id="name" name="name">
										
										<label for="bday">Birthday:</label>
										<input type="date" id="bday" name="bday">
										
										<label for="phoneNbr">Phone Number:</label>
										<input type="tel" id="phoneNbr" name="phoneNbr">
										
										<label for="insurNbr">Insurance ID:</label>
										<input type="text" id="insurNbr" name="insurNbr">
										
										<button type="submit">Submit</button>
										<button type="button" data-micromodal-close>Cancel</button>
									</form>
									</div>
								</div>
								</div>
							</div>

						<% for (let i = 0; i < patients.length; i++) {%>
				
						<!-- Patient Info -->
						<section id="first" class="cta" data-section="patientProfile">
							<header>
								<h2><%= patients[i].name %></h2>
								<p><%= patients[i].phoneNbr %></p>
								<p>DOB: <%= patients[i].bday.toLocaleDateString('en-US', {timeZone: 'UTC', month: '2-digit', day: '2-digit', year: 'numeric'}) %></p>
								<p>Insurance #<%= patients[i].insurNbr %></p>
							</header>
						</section>

						<!-- Calendar Setup -->
							<section id="one" class="features" data-section="setCal">
								<header class="major">
									<h2>Import Google Calendar</h2>
									<p>Using the instructions below, import a read-only google calendar to view upcoming or past events.</br>
									Paste calendar iframe here:</p>
									<form method="POST" action="/patient/addCal/<%= patients[i]._id %>?_method=PUT">
										<label for="calInput">iframe key:</label>
										<input name="calInput" type="text" id="calInput">
										<button type="submit">Submit</button>
									</form>
								</header>
								<div class="content">
									<section class="feature">
										<span class="icon major fa-gem"></span>
										<h3>Step 1: Open Google Calendar</h3>
										<p>Open Google Calendar in a web browser on your computer.</p>
									  </section>
									  <section class="feature">
										<span class="icon major fa-gem"></span>
										<h3>Step 2: Access Settings</h3>
										<p>Click the gear icon located toward the top-right side of the calendar and select "Settings".</p>
									  </section>
									  <section class="feature">
										<span class="icon major fa-gem"></span>
										<h3>Step 3: Export Calendar</h3>
										<p>Click the three dots located next to the desired calendar and select "Settings and sharing". The events for that calendar will download onto an ICS file on your computer.</p>
									  </section>
									  <section class="feature">
										<span class="icon major fa-gem"></span>
										<h3>Step 4: Store Exported Data</h3>
										<p>The exported calendar data can be stored in a database on the server for rendering.</p>
									  </section>
									  <section class="feature">
										<span class="icon major fa-gem"></span>
										<h3>Step 5: Render Calendar</h3>
										<p>The server can render the calendar from the stored data.</p>
									  </section>
									  <section class="feature">
										<span class="icon major fa-gem"></span>
										<h3>Step 6: Render Calendar</h3>
										<p>The server can render the calendar from the stored data.</p>
									  </section>
								</div>
							</section>

						<!-- Calendar -->
						<section data-section="iframeCal">
							<div class="content">
								<%= patients[i].cal %>
								<div class="accordion centerButt">
									<button class="accordion-toggle">Change Calendar</button>
									<div class="accordion-content">
										<form method="POST" action="/patient/addCal/<%= patients[i]._id %>?_method=PUT">
											<label for="calInput">New iframe Key:</label>
											<input name="calInput" type="text" id="calInput">										
											<button type="submit">Submit</button>
										</form>
									</div>
								</div>
							</div>
						</section>

						<!-- Medications -->
							<section id="medications" class="spotlight" data-section="patientProfile">
								<div class="image"><!-- <img src="images/pic01.jpg" alt="" /> --></div>
								<div class="content acclist centerButt">
									<h2>Medications</h2>
										<div class="accordion">
											<button class="accordion-toggle">Add Medication</button>
											<div class="accordion-content">
												<form method="POST" action="/patient/addMed/<%= patients[i]._id %>?_method=PUT">
													<label for="medName">Medication Name:</label>
													<input name="name" type="text" id="medName">
									
													<label for="dosage">Dosage:</label>
													<input name="dosage" type="text" id="dosage">
									
													<label for="medNotes">Notes:</label>
													<input name="notes" type="text" id="medNotes">
									
													<button type="submit">Submit</button>
												</form>
											</div>
										</div>			
									<section>
										<div class="table-wrapper">
											<table class="med-table">
											  <thead>
												<tr>
												  <th>Name</th>
												  <th>Dosage</th>
												  <th>Notes</th> 
												</tr>
											  </thead>
											  <tbody>
												  <% for(let j = 0; j < patients[i].meds.length; j++) { %>
													<% for(let k = 0; k < patients[i].meds[j].length; k++) { %>
													  <tr>
														<td><%= patients[i].meds[j][k].name %></td>
														<td><%= patients[i].meds[j][k].dosage %></td>
														<td><%= patients[i].meds[j][k].notes %></td>
														<td><button class="table-x"><span class="close-x">X</span></button>
													  </tr>
													<% } %>
												  <% } %>  
											  </tbody>
											</table>
										  </div>
									</section>
								</div>
							</section>

							<!-- Shopping List -->
								<section id="shopping" class="spotlight" data-section="patientProfile">
									<div class="image"><!-- <img src="images/pic01.jpg" alt="" /> --></div>
									<div class="content acclist centerButt">
										<h2>Shopping List</h2>
											<div class="accordion">
												<button class="accordion-toggle">Add Item</button>
												<div class="accordion-content">
													<form method="POST" action="/patient/addShop/<%= patients[i]._id %>?_method=PUT">
														<label for="shopName">Item Name:</label>
														<input name="name" type="text" id="shopName">										
														<button type="submit">Submit</button>
													</form>
												</div>
											</div>
										<section>
											<div class="table-wrapper">
												<table class="list-table">
												  <thead>
													<tr>
													  <th>Name</th>
													</tr>
												  </thead>
												  <tbody>
													  <% for(let j = 0; j < patients[i].shopping.length; j++) { %>
														<tr>
														  <td><%= patients[i].shopping[j] %></td>
														  <td>
															<form class="form-tbl-item" action="/patient/deleteShopItem/<%= patients[i]._id %>/<%= j %>?_method=DELETE" method="POST">
																<button class="table-x">
																	<span class="close-x">X</span>
																</button>
															</form>
														  </td>
														</tr>
													  <% } %>
												  </tbody>
												</table>
											  </div>
										</section>
									</div>
								</section>

						<!-- Temp -->
							<!-- <section id="banner" data-section="patientProfile">
								<header>
									<h2>Google Calendar</h2>
									<p>Sed feugiat tempus sem amet imperdiet</p>
								</header>
								<footer>
									<ul class="actions special">
										<li><a href="#" class="button large">Get Started</a></li>
									</ul>
								</footer>
							</section> -->

						<!-- Three -->
							<!-- <section id="three" class="spotlight alt" data-section="patientProfile">
								<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
									<h2>Shopping List</h2>
									<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipa facilisis at, vestibulum id urna. Lorem ipsum dolor sit amet sollicitudin.</p>
								</div>
							</section> -->

						<!-- Four -->
							<!-- <section id="four" class="spotlight" data-section="patientProfile">
								<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
									<h2>Porta vestibulum</h2>
									<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipa facilisis at, vestibulum id urna. Lorem ipsum dolor sit amet sollicitudin.</p>
								</div>
							</section> -->

					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<section class="about">
								<h3>Disclaimer</h3>
								<p>This web application is an open source project and not intended for actual medical use. It does not comply with HIPAA or other healthcare privacy and security regulations. Users should not enter personal health information. The author makes no guarantees about privacy or security. This app is provided as-is under the GPL 3.0 license for demonstration purposes only. For any questions, concerns, or input please feel free to contact me.</p>
								<!-- <ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul> -->
							</section>
							<section>
								<h3>Get in Touch</h3>
								<ul class="contact">
									<li class="icon solid fa-envelope"><a href="#">contact@paulborowiecki.com</a></li>
									<li class="icon brands fa-twitter"><a href="#">@borojetski</a></li>
								</ul>
							</section>
						</div>
						<div class="copyright">
							<a href="https://github.com/borojetski/OpenCare">
								<p class="icon brands fa-github"> Created by Paul Borowiecki, licensed under GPL 3.0</p>
							</a>
						</div>
					</section>

			</div>

<script>
    const userHPP = <%= user.hasPatientProfile %>;
	const ptHCal = '<%= patients[i].cal %>';
</script>
<% } %>
<script src="/js/dashboard.js"></script>

<%- include('partials/footer') -%>