<%- include('partials/header') -%>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">OpenCare</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>
				
				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="#">My Profile</a></li>
								<li><a href="#">Patient Profile</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/logout">Log Out</a></li>
							</ul>
						</div>
					</nav>
				
				<!-- Main -->
					<div id="main">

						<!-- Get Started -->
						<section class="cta" data-section="getStarted">

							<header>
							  <h2>Welcome!</h2>
							  <p>Create a profile for your patient or loved one.<br/>
							  Once created, various fields will populate below.</p>
							</header>
						  <!-- Add new patient button -->
							<button id="addPatientBtn" data-micromodal-trigger="addPatientMModal">
								Add a Patient or Love One
							</button>
						</section>
				
						<!-- Patient Info -->
						<section id="first" class="cta" data-section="patientProfile">
							<header>
								<% for (let i = 0; i < patients.length; i++) {%>
								<h2><%= patients[i].name %></h2>
								<p><%= patients[i].phoneNbr %></p>
								<p>DOB: <%= patients[i].bday.toLocaleDateString('en-US', {timeZone: 'UTC', month: '2-digit', day: '2-digit', year: 'numeric'}) %></p>
								<p>Insurance #<%= patients[i].insurNbr %></p>
								<% } %>
							</header>
						</section>

						<!-- Calendar -->
						<!-- <section id="gcal">
							<div class="content">
								<iframe src="https://calendar.google.com/calendar/embed?height=813&wkst=1&bgcolor=%23ffffff&ctz=Pacific%2FHonolulu&showTitle=0&showNav=1&showPrint=0&showCalendars=0&showTz=0&title=Leo%20Lau&src=YnNkcHRjdWdpdW02NjByY21rdmxsYTY1bTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23009688" style="border-width:0" width="1317" height="813" frameborder="0" scrolling="no"></iframe>
							</div>
						</section> -->

						<!-- Medications -->
							<section id="two" class="spotlight" data-section="patientProfile">
								<div class="image"><!-- <img src="images/pic01.jpg" alt="" /> --></div>
								<div class="content">
									<h2>Medications</h2>
									<% for (let i = 0; i < patients.length; i++) {%>
										<form method="POST" action="/patient/addMed/<%= patients[i]._id %>?_method=PUT">
											<label for="name">Medication Name:</label>
											<input name="name" type="text" id="name">
											
											<label for="dosage">Dosage:</label>
											<input name="dosage" type="text" id="dosage">
										  
											<label for="notes">Notes:</label>
											<input name="notes" type="text" id="notes">
											</br>
											<button type="submit">Add</button>
										  </form>
										  <% } %>
									<section>
										<div class="table-wrapper">
											<table>
											  <thead>
												<tr>
												  <th>Name</th>
												  <th>Dosage</th>
												  <th>Notes</th> 
												</tr>
											  </thead>
											  <tbody>
												<% for(let i = 0; i < patients.length; i++) { %>
												  <% for(let j = 0; j < patients[i].meds.length; j++) { %>
													<% for(let k = 0; k < patients[i].meds[j].length; k++) { %>
													  <tr>
														<td><%= patients[i].meds[j][k].name %></td>
														<td><%= patients[i].meds[j][k].dosage %></td>
														<td><%= patients[i].meds[j][k].notes %></td>
													  </tr>
													<% } %>
												  <% } %>  
												<% } %>
											  </tbody>
											</table>
										  </div>
									</section>
								</div>
							</section>

						<!-- Temp -->
							<section id="banner" data-section="patientProfile">
								<header>
									<h2>Google Calendar</h2>
									<p>Sed feugiat tempus sem amet imperdiet</p>
								</header>
								<!-- <footer>
									<ul class="actions special">
										<li><a href="#" class="button large">Get Started</a></li>
									</ul>
								</footer> -->
							</section>

						<!-- Medications -->
							<section id="one" class="features" data-section="patientProfile">
								<header class="major">
									<h2>Medications</h2>
									<p>Mauris lectus odio, mattis nec velit eu, luctus dictum diam. Quis<br />
									tempus que ornare purus a bibendum ultricies.</p>
								</header>
								<div class="content">
									<section class="feature">
										<span class="icon major fa-gem"></span>
										<h3>Etiam sed feugiat</h3>
										<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipit euismod habitant lorem ipsum dolor.</p>
									</section>
									<section class="feature">
										<span class="icon major fa-save"></span>
										<h3>Ipsum et bibendum</h3>
										<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipit euismod habitant lorem ipsum dolor.</p>
									</section>
									<section class="feature">
										<span class="icon major fa-newspaper"></span>
										<h3>Sit lorem aliquam</h3>
										<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipit euismod habitant lorem ipsum dolor.</p>
									</section>
								</div>
							</section>

						<!-- Three -->
							<section id="three" class="spotlight alt" data-section="patientProfile">
								<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
									<h2>Shopping List</h2>
									<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipa facilisis at, vestibulum id urna. Lorem ipsum dolor sit amet sollicitudin.</p>
								</div>
							</section>

						<!-- Four -->
							<section id="four" class="spotlight" data-section="patientProfile">
								<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
									<h2>Porta vestibulum</h2>
									<p>Praesent egestas quam at lorem imperdiet lobortis. Mauris condimentum et euismod ipsum, at ullamcorper libero dolor auctor sit amet. Proin vulputate amet sem ut tempus. Donec quis ante viverra, suscipa facilisis at, vestibulum id urna. Lorem ipsum dolor sit amet sollicitudin.</p>
								</div>
							</section>

					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<section class="about">
								<h3>Disclaimer</h3>
								<p>This app is meant to be a project I can showcase on my portfolio. It may appear to the general public as though it is a professional web app that abides by HIPAA and other state and federal regulations, of which there are probably many. Write a general disclaimer that states that this app does not abide by HIPAA and other state and federal regulations and has not been audited to verify privacy or security. Also, it is an open source project that anyone is welcome to copy or distribute as it abides by the GPL3.0 license. Make it clear that a user signing up to this site should not input any personal identifying information and though great effort has been taken to provide the privacy and security of the user and their respective patients, that the author can manke no guarentee. Feel free to contact me with any questions, concerns, or input.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>
							<section>
								<h3>Get in Touch</h3>
								<ul class="contact">
									<li class="icon solid fa-envelope"><a href="#">contact@paulborowiecki.com</a></li>
									<li class="icon brands fa-twitter"><a href="#">@borojetski</a></li>
								</ul>
							</section>
						</div>
						<div class="copyright">
							<a href="https://github.com/borojetski/OpenCare">
								<p class="icon brands fa-github"> Created by Paul Borowiecki, licensed under GPL 3.0</p>
							</a>
						</div>
					</section>

			</div>

<!-- Add new patient modal -->
<div id="addPatientMModal" class="modal" aria-hidden="true">
	<div tabindex="-1" data-micromodal-close>
	  <div role="dialog" aria-modal="true" aria-labelledby="addPatientModalTitle">
		<header>
		  <img id="modal-close-button" data-micromodal-close src="/css/images/close.svg" alt="Close modal"/>
		  <h2 id="addPatientModalTitle">
			Add Patient
		  </h2>
		</header>
		<div id="addPatientModalContent">
		  <form method="POST" action="/patient/createPatient">
		  
			<label for="name">Name:</label>
			<input type="text" id="name" name="name">
			
			<label for="bday">Birthday:</label>
			<input type="date" id="bday" name="bday">
			
			<label for="phoneNbr">Phone Number:</label>
			<input type="tel" id="phoneNbr" name="phoneNbr">
			
			<label for="insurNbr">Insurance ID:</label>
			<input type="text" id="insurNbr" name="insurNbr">
			
			<button type="submit">Submit</button>
			<button type="button" data-micromodal-close>Cancel</button>
		  </form>
		</div>
	  </div>
	</div>
  </div>
  
<script>
    const userHPP = <%= user.hasPatientProfile %>;
</script>
<script src="/js/dashboard.js"></script>



<%- include('partials/footer') -%>